*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aquamarine;
}

.parent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.emailDiv{
    background-color: burlywood;
    border: 2px solid red;
    /* display: inline-block; */
    padding: 30px;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}

input{
    font-weight: bold;
    font-size: 20px;
    height: 30px;
}

p{
    font-weight: bold;
    font-size: 17px;
}

button{
    font-weight: bold;
    font-size: 20px;
}

button:hover{
    background-color: yellow;
    cursor: pointer;
}

.divEle{
    justify-content: center;
}
